{% extends 'base.html.twig' %}

{% block title %}Studease - Dashboard - Unverified{% endblock %}

{% block body %}
    {% for user in users %}
        <div><a href="/dashboard/unVerified/{{user.id }}" >{{ user.name }} {{ user.firstname }}</a></div>
    {% endfor %}

{% endblock %}
