{% extends 'base.html.twig' %}

{% block title %}Studease - Dashboard - Unverified{% endblock %}

{% block body %}
    <div class="container-lg py-5">
{% for user in users %}
        <div class="row gutters-sm">
            <div><span class="material-symbols-outlined">visibility</span><a
                        href="{{ path('app_dashboard_verify', {id: user.id}) }}">{{ user.name|default(user.email) }} {{ user.firstname }}</a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
