{% extends 'base.html.twig' %}

{% block title %}Studease - Dashboard - Unverified{% endblock %}

{% block body %}
    {% for user in users %}
        <div><a href="/profile/{{user.id }}" ></a>{{ user.name }} {{ user.firstname }}</div>
    {% endfor %}

{% endblock %}
