{% extends 'base.html.twig' %}

{% block title %}StudEase{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12 col-lg-6">
            <img class="body-picture object-fit-cover w-100" src="{{ asset('img/studease.jpg') }}"
                 alt="Image d'Accueil"/>
        </div>
        <div class="col-12 col-lg-6 order-lg-first text-center text-lg-start d-flex flex-column justify-content-lg-center align-items-lg-center my-5">
            <h1>Ici, tu construis ton avenir</h1>
            {% if  not app.user %}
                <a class="connect btn btn-primary rounded-0 mx-5" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
    <div class="container-lg">
        <section class="mb-5">
            <h1 class="fw-bold">Qu'est ce que StudeEase ?</h1>
            <div class="row">
                <article class="col-12 col-lg-6">
                    <h2>Trouves le stage qui est fait pour toi</h2>
                    <p>La plateforme Studease réunis des centaines d'utilisateurs dont des dizaines d'entreprises reconnus, de quoi apporter une
                     variété de stages correspondant aux besoin de majorité d'étudiant étudiant en France !</p>
                </article>
                <article class="col-12 col-lg-6">
                    <h2>Trouves l’alternance qui te correspond</h2>
                    <p>Le moteur de recherche propose différents paramètres de recherche ; tel que la durée ou le type de contrat, assurant de trouver
                     rapidement le type d'alternance correspondant le plus à votre profile !</p>
                </article>
            </div>
            <div class="row">
                <article class="col-12 col-lg-6">
                    <h2>Pour faciliter la vie des étudiants</h2>
                    <p>Terminé la recherche aveugle de stage ou d'alternance ! Avec Studease, consulter la liste de toutes les expériences professionnelles,
                    et déposer votre candidature en quelques minutes seulement pour alerter l'entreprise de votre intérêt à son égard !</p>
                </article>
                <article class="col-12 col-lg-6">
                    <h2>Une aide à la gestion des candidatures pour les entreprises</h2>
                    <p>En tant qu'entreprise, vous pouvez consulter l'ensemble des informations concernant l'étudiant
                    candidatant à votre proposition de stage ou d'alternace en quelque clics pour trouver rapidement celui ou celle correspondant le plus à votre entreprise !</p>
                </article>
            </div>
        </section>
    </div>
{% endblock %}
