{% extends 'base.html.twig' %}

{% block title %}StudEase{% endblock %}

{% block body %}
<div class="body-info">
    <h1 class="info-title">Qu'est ce que StudeEase ?</h1>
    <section class="info-group">
        <h2 class="group-title">Trouves le stage qui est fait pour toi</h2>
        <blockquote class="group-content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</blockquote>
    </section>
    <section class="info-group2">
        <h2 class="group2-title">Trouves l’alternance qui te correspond</h2>
        <blockquote class="group2-content">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</blockquote>
    </section>
    <section class="info-group3">
        <h2 class="group3-title">Une plateforme pour les étudiants</h2>
        <blockquote class="group3-content">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</blockquote>
    </section>
    <section class="info-group4">
        <h2 class="group4-title">Lorem</h2>
        <blockquote class="group4-content">Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</blockquote>
    </section>
</div>
{% endblock %}
