{% extends 'base.html.twig' %}

{% block title %}StudEase{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12 col-lg-6">
            <img class="body-picture object-fit-cover w-100" src="{{ asset('img/studease.jpg') }}"
                 alt="Image d'Accueil"/>
        </div>
        <div class="col-12 col-lg-6 order-lg-first text-center text-lg-start d-flex flex-column justify-content-lg-center align-items-lg-center my-5">
            <h1>Ici, tu construis ton avenir</h1>
            {% if app.user %}
                <a class="connect btn btn-primary rounded-0 mx-5" href="{{ path('app_user_profile') }}">Mon profil</a>
            {% else %}
                <a class="connect btn btn-primary rounded-0 mx-5" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
    <div class="container-lg">
        <section class="mb-5">
            <h1 class="fw-bold">Qu'est ce que StudeEase ?</h1>
            <div class="row">
                <article class="col-12 col-lg-6">
                    <h2>Trouves le stage qui est fait pour toi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cumque delectus dignissimos
                        dolor, doloribus dolorum, eum exercitationem hic illum minima modi nisi perferendis placeat
                        quidem repudiandae veniam vitae voluptatem.</p>
                </article>
                <article class="col-12 col-lg-6">
                    <h2>Trouves l’alternance qui te correspond</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cumque delectus dignissimos
                        dolor, doloribus dolorum, eum exercitationem hic illum minima modi nisi perferendis placeat
                        quidem repudiandae veniam vitae voluptatem.</p>
                </article>
            </div>
            <div class="row">
                <article class="col-12 col-lg-6">
                    <h2>Pour faciliter la vie des étudiants</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cumque delectus dignissimos
                        dolor, doloribus dolorum, eum exercitationem hic illum minima modi nisi perferendis placeat
                        quidem repudiandae veniam vitae voluptatem.</p>
                </article>
                <article class="col-12 col-lg-6">
                    <h2>Une aide à la gestion des candidatures pour les entreprises</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cumque delectus dignissimos
                        dolor, doloribus dolorum, eum exercitationem hic illum minima modi nisi perferendis placeat
                        quidem repudiandae veniam vitae voluptatem.</p>
                </article>
            </div>
        </section>
    </div>
{% endblock %}
