{% extends 'base.html.twig' %}

{% block title %}StudEase{% endblock %}

{% block body %}
    <div class="container my-5">

        <h1 class="mb-4 fw-bold">Mentions Légales</h1>

        <section>
            <p>Le site gouvernemental des stages est édité par le Minstère de l'Enseignement Supérieur et de la Recherche</p>
            <p>Adresse : {{ adresse }}</p>
            <p>Courriel : {{ mail }}</p>
        </section>
        <section>
            <h2>Collecte de Données Personnelles</h2>

            <p> Conformément à la législation sur la protection des données personnelles, le site gouvernemental des
                stages collecte des informations personnelles dans le cadre de l'utilisation du service. Les
                informations collectées comprennent le nom, le prénom, l'adresse e-mail, le numéro de téléphone, l'adresse, la formation l'école, le numéro de SIRET. Ces données sont collectées dans le but de gérer les offres de stages et d'alternance et de proposer aux utilisateurs une utilisation plus personnalisée.
            </p>
            <p>Les utilisateurs du site ont le droit d'accéder, de rectifier, de supprimer ou de s'opposer au traitement
                de leurs données personnelles. Pour exercer ces droits, veuillez contacter {{ mail}} ou
                utiliser les fonctionnalités appropriées disponibles sur le site.</p>
        </section>
        <section>
            <h2>Cookies</h2>
            <p> Le site utilise des cookies pour améliorer l'expérience de l'utilisateur. En utilisant le site,
                l'utilisateur consent à l'utilisation de cookies conformément à la politique en matière de cookies. Pour
                plus d'informations sur l'utilisation des cookies, veuillez consulter notre politique en matière de
                cookies.
            </p>
        </section>
        <section>
            <h2>Propriété Intellectuelle</h2>

            <p> Le contenu du site, y compris les textes, images, logos, etc., est la propriété du Minstère de l'Enseignement Supérieur et de la Recherche et est protégé par les lois sur la propriété intellectuelle. Toute reproduction ou
                utilisation non autorisée est interdite.
            </p>
        </section>
        <section>
            <h2>Responsabilité</h2>

            <p> Le site gouvernemental des stages décline toute responsabilité quant à l'exactitude des informations
                fournies par les utilisateurs, que ce soit dans les offres de stages ou les candidatures. Les
                utilisateurs utilisent le site à leurs propres risques.
            </p>
        </section>
        <section>
            <h2>Modification des Mentions Légales</h2>

            <p> Minstère de l'Enseignement Supérieur et de la Recherche se réserve le droit de modifier les présentes mentions légales à
                tout moment. Les utilisateurs seront informés des modifications, et il leur incombe de consulter
                régulièrement les mentions légales mises à jour.
            </p>
        </section>
        <section>
            <h2>Droit Applicable et Juridiction</h2>

            <p> Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux
                français compétents seront saisis.
            </p>
        </section>
    </div>
{% endblock %}