{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% set titre = "Création d'une nouvelle insertions professionnelles" %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    {{ include('insertions_professionnelles/_form.html.twig', {submit_label: 'Ajouter', form: form, current: current, duree: duree}, with_context = false) }}
{% endblock %}



