{% extends 'base.html.twig' %}
{% set titre = "Edition du stage/alternance: #{insertion.titre}" %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    {{ include('insertions_professionnelles/_form.html.twig', {submit_label: 'Modifier', form: form}, with_context = false) }}
{% endblock %}



