{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% set titre = "Edition du stage/alternance: #{insertion.titre}" %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    {{ include('insertions_professionnelles/_form.html.twig', {
        submit_label: 'Modifier',
        current: current,
        duree: duree,
        form: form,
        disableTypePro: true,
        disableCompany: true
    }, with_context = false) }}
{% endblock %}



