.container.insertions{
    display: flex;
    margin-top: 55px;
    gap: 30px;
    flex-direction: column;
    height: 100%;
}

.container.insertions>.row{
    padding: 15px 15px 15px 15px;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

div.insertion{
    background-color: #f6f6f6;
    border: 2px solid #00ac8c;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    margin-bottom: 10px;
}
.row.justify-content-around>*{
    display: flex;
    align-items: center;
}
div.insertion>a{
    display: grid;
    gap:10px
}

.resultat .intitul {
    align-self: stretch;
    color: #000000;
    font-family: "Karla-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.33px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
}

.resultat .sub-info {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    position: relative;
    width: 100%;
}

.resultat .text-wrapper {
    color: #4a4a4a;
    flex: 1;
    font-family: "Karla-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: normal;
    position: relative;
}

.resultat .div {
    color: #4a4a4a;
    font-family: "Karla-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}