{% extends 'base.html.twig' %}

{% block title %}Edition de la localisation{% endblock %}

{% block body %}
    <div class="container-lg my-5 p-3 shadow">
        <h1 class="text-center">Editer la localisation</h1>
        {{ include('localisation/_form.html.twig', {form, submit_label: "Modifier"}) }}
    </div>
{% endblock %}

