{# templates/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Erreur 403 {% endblock %}

{% block body %}

    <h1>Erreur 404 - Page interdite</h1>
    <p>Oups, vous n'avez pas les autorisations nécessaires pour accéder à cette ressource.</p>
    <p>Retour à l'acceuil : <a href="/" >Acceuil</a></p>

{% endblock %}