{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Erreur 404 {% endblock %}

{% block body %}

    <h1>Erreur 404 - Page non trouvée</h1>
    <div class="container-lg py-5">
    <p>Oups, la ressource recherchée n'éxiste pas ou n'a pas pu être trouvé.</p>
    <p>Retour à l'acceuil : <a href="/" >Acceuil</a></p>
    </div>

{% endblock %}