{# templates/bundles/TwigBundle/Exception/error.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Page d'erreur {% endblock %}

{% block body %}

    <h1>Erreur - Erreur non reconnue</h1>
    <div class="container-lg py-5">
    <p>Oups, Une erreur est survenue lors du chargement de la ressource.</p>
    <p>Retour à l'acceuil : <a href="/" >Acceuil</a></p>
    </div>

{% endblock %}